{% extends "base.html" %}
{% block content %}
<h2>Torrent details</h2>
<div class="torrent-title">{{torrent.title}}</div>
<div class="torrent-description">{{torrent.description}}</div>
<a href="{{torrent.torrent_file}}">{{torrent.torrent_file}}</a>
<div class="rate">
    <div>Rate torrent:</div>
    <ul class="rating">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
    </ul>
</div>
        <div class="comment">Comment:</div>
{% endblock %}